.seccionIzquierda {
    width:35%;
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    min-height: 5rem;
    gap:0.5rem;
    background-color: rgb(18, 98, 94);
}
.seccionPrincipal{
    display: flex;
    flex-grow: 1;
    background-color: grey;
}
.item {
    width:90%;
    height: 25vw;
    margin:0.25rem;
    padding:0.25rem;
    background-color: rgba(32, 178, 171, 0.501);
    border: 1px dotted grey;
}

@media (max-width: 640px) {
    .seccionIzquierda {
        width:100vw;
        position:fixed;
        bottom:0;
        align-items: center;
        align-content: stretch;
        flex-direction: row;
        justify-content: space-around;
    }
}